- unless current_user.is_admin_or_extenda?
  - title "Mi agenda"

  = render :partial => 'meetings/my_meetings', :locals => {:user => current_user}

- else
  - title "Versión administrador"
  .oil_img

  - content_for(:right_column) do
    .box_green
      .clip_img
      %h3
        %span Últimos 
        %span Mensajes
    .box_dark_green
