- unless current_user.is_admin_or_extenda?
  - title "Mi agenda"

  = render :partial => 'meetings/my_meetings', :locals => {:user => current_user}
  %p.imprimir
    = link_to "imprimir agenda"
- else
  - title "Versión administrador"
  .oil_img

