- unless current_user.is_admin_or_extenda?
  - title "Mi agenda"

  = render :partial => 'meetings/my_meetings'

- else
  - title "Versión administrador"
  %p Se encuentra en la zona de administración del sitio, acceda a las secciones usando el menú de la izquierda.

  = "&nbsp"

  -# - content_for(:right_column) do
  -#   %p
  -#     Últimos mensajes
