%h2.pink EMPRESA NO REGISTRADA EN EL SISTEMA
#external.new
  - form_for :profile, :url => create_external_profiles_path do |f|
    %p
      = f.label :company_name, "Nombre:"
      = f.text_field :company_name
    %p.enviar
      = f.submit "Solicitar cita"
