.new-external
  - form_for :profile, :url => create_external_profiles_path do |f|
    %p
      = f.label :company_name, "Nombre de la persona con la que te vas a reunir"
      %br/
      = f.text_field :company_name
    %p
      = f.submit "Solicitar cita"
