- weekly_calendar(@meetings, :date => @date, :days => @days) do |w|
  - w.week(:clickable_hours => false) do |event,truncate|
    %span=  link_to truncate(event.name(user, false).upcase,:omission => ".." ,:length => 19), meeting_path(event), :id => event.id, :class => "meeting-link"

.my_meetings_footer
  %p.naranja
    Naranja: Cita pendiente de aceptación.
  %p.verde
    Verde: Citas aceptadas, podrán ser canceladas durante los días previos a la feria.
	
