- weekly_calendar(@meetings, :date => @date, :days => @days) do |w|
  - w.week(:clickable_hours => true) do |event,truncate|
    =  link_to event.name(user, false), meeting_path(event) , :id => event.id, :class => 'meeting-link'
