%p
  Ver agenda de:
- form_for :user, :url => '/ajax/meetings_for', :html => {:method => :get, :id => 'select-schedule'} do |f|
  %p
    = f.select :id, User.type(role_name).map{|u| [u.profile.company_name, u.to_param]}, :include_blank => true
  %p
    = submit_tag "Ver"
