%h1= "Agenda del usuario #{@user.profile.company_name}"
= render :partial => 'meetings/my_meetings', :locals => {:user => @user}

- content_for(:right_column) do
  = render :partial => 'meetings/select_schedule_form', :locals => {:role_name => @user.role.title}
