#meetings
  %h2
    Solicitar citas

  %p
    <b>NOTA ACLARATORIA MISIÓN COMERCIAL INVERSA INTERNACIONAL</b><br/>
    Debido al patrocinio y organización de estas misiones por la Junta de Andalucía, las empresas participantes deberán realizar su actividad productiva en Andalucía.
    Por consiguiente sólo podrán concretar reuniones con los compradores internacionales las empresas andaluzas que cumplan los criterios de participación.
  %p
    Las citas comerciales internacional no contarán con traductores, por lo que la reunión se realizará en el idioma del comprador.

  %p
    Para la optimización de este servicio de gestión de citas, le rogamos lea atentamente la ficha de cada comprador para asegurarse de que se adecua a su perfil comercial.

  /*Cita con comprador no registrado*/

  /*%p*/
  /*  = link_to_create_external_meeting("¿Desea dar de alta una cita con un comprador que no está registrado?")*/

  %p
    = label_tag :country_id, "PAÍS"
    = select :country, :id, Country.with_profiles.collect {|t| [t.name, t.id]}, {:include_blank => "Todos"}
  %p
    = label_tag "sector_id", "SECTOR"
    = select :sector, :id, Sector.all.map{|s| [s.name.capitalize, s.id]}, {:include_blank => "Todos"}
    #buyers


