- title "Mostrando el evento"
%p 
  TODO - Mostrar la información del evento concreto
%p
  Mostrar la información de la persona con la que te vas a reunir
%p Mostrar la anotación que hayas tomado al crear la cita

%p TODO - Mostrar solo cuando se pueda cancelar la cita

= link_to "Cancelar cita"
