= label_tag 'guest_id', "COMPRADORES"

- if buyers.blank?
  .pink
    No existen compradores en este sector.
- else
  - form_tag '/ajax/to_meeting' do
    = select :guest, :id, buyers.map{|b| [b.profile.company_name.capitalize, b.to_param]}, :include_blank => true
    = hidden_field :host, :id, :value => current_user.to_param

    %p.enviar PERFIL COMERCIAL

    %p 
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    %p 
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    
    
    %p.enviar
      = submit_tag "Solicitar cita"
