%p
  Se ha creado una cita entre expositor 
  %b= @meeting.host.profile.company_name 
  y el comprador internacional 
  %b= @meeting.guest.profile.company_name
  

%p Esta cita está pendiente de ser aceptada.
