-colspan = 4

%tr
  %td{:colspan => colspan}
    %div{:style => "color: #70B120;padding-left: 20px; font-size: 20px; font-weight: bolder;"} Nuevo mensaje recibido

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %span{:style => "padding-left: 20px;"} Remitente: 
    %span{:style => "color: #D41E67"}= @sender.profile.company_name

%tr
  %td{:colspan => colspan}
    %span{:style => "padding-left: 20px;"} Asunto: 
    %span{:style => "color: #D41E67"}= @message.subject

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      = @message.message

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Puede acceder al mensaje usando este enlace:
      = link_to message_url(:id => @message.id, :type => 'received'), message_url(:id => @message.id, :type => 'received'), :style => "color: #70B120;"
