- colspan = 4

%tr
  %td{ :colspan => colspan }
    %p{:style => "padding-left: 20px;"}
      La Agenda Virtual de Andalucía Sabor International Fine Food Exhibition le recuerda sus datos de acceso.

%tr
  %td{:colspan => colspan}
    %p{:style => "padding-left: 20px;"}
      Para acceder use la siguiente información:

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      usuario: 
      %b=h @user.login

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      contraseña: 
      %b= @user.password

%tr
  %td{:colspan => colspan}
    %p{:style => "padding-left: 20px;"}
      Podrá acceder a través de nuestra web 
      = link_to "http://www.andaluciasabor.es", "http://www.andaluciasabor.es", :style => "color:#70B120; " 
      , pulsando en el enlace correspondiente, o directamente a través de 
      = link_to "http://www.agendavirtualandaluciasabor.com", "http://www.agendavirtualandaluciasabor.com", :style => "color:#70B120; " 

%tr
  %td{:colspan => colspan}
    %p{:style => "padding-left: 20px;"}
      Esperamos que esta aplicación les sea de utilidad para sacar mayor partido a la feria y que disfruten de estos días en Andalucía Sabor.
