- colspan = 4

%tr
  %td{ :colspan => colspan }
    %div{:style => "padding-left: 20px;"}
      Estimado Sr./Sra.,<br/><br/>
      La participación en BIOCórdoba le da acceso a una útil herramienta que permite a compradores y expositores concertar previamente sus encuentros comerciales durante el evento y lo que le permitirá optimizar su tiempo y que su visita a BIOCórdoba sea más fructífera.
      Toda la información sobre las empresas participantes la podrá encontrar en dicha herramienta, a la que podrá acceder a través de la página de BIOCórdoba

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Para acceder use la siguiente información:

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Su usuario es:
      %b=h @user.login

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Su contraseña es:
      %b= @user.password

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Podrá acceder a través de 
      = link_to "http://agendabiocordoba.com/", "http://agendabiocordoba.com/"

%tr
  %td &nbsp;

%tr
  %td{:colspan => colspan}
    %div{:style => "padding-left: 20px;"}
      Esperando que saque el mayor provecho de su participación.<br/>
      Atentamente,<br/><br/>
      Comité Organizador BIOCórdoba
