%h1 Usuario desactivado
%p
  Tu usuario ha sido desactivado, para conocer las causas póngase en contacto con el 
  = "<a href='mailto:#{CONFIG[:admin][:email]}&subject=Usuario desactivado'>administrador</a>"
