!primary_color = #4B7399
!bg_color = #191918
!green = #70b120
!dark_green = #4c800c
!pink = #D41E67
!grey = #c8c8c8
!violet = #b81d88
!yellow = #F9F89E
.pink
  :color = !pink
.violet
  :color = !violet
.yellow
  :color = !yellow
body

  :background = !bg_color url('/images/body-bg.jpg') center top no-repeat
  :color #fff
  :font-family Verdana, Arial
  :font-size 11px
  :font-variant normal
  :font-style normal
  :font-weight normal
  :line-height 1.5em

*
  :margin 0
  :padding 0

  html .clearfix
    :height 1%

.accesible
  :display none

a
  :color = !green

  &:hover
    :color = !pink

  img
    :border none

h2
  :margin-bottom 20px
  :font-size 14px
  :letter-spacing 0.4px
  :font-weight normal

h3
  :font-size 16px
  :margin-top 20px
  :font-weight normal
  span
    :display block

p
  :margin 0 0 1em 0
  &.green
    :color = !green

span.info
  :font-size 0.9em

.wrapper
  :width 1001px
  :margin 0 auto
  :height 1%
  :position relative
  :overflow hidden

.separata
  :clear both


.clearfix
  :display inline-block

  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden
.pagination
  :margin-bottom 20px
p.button
  :margin-top 15px
  :padding 5px
  :text-align right

/* 
  Old css

.event
  :border 1px solid #FFF
  :margin-bottom 5px
  :padding 5px

span.canceled
  :font-size 25px
  :color red

.highlight
  :background-color yellow

.required
  :color #ff0000

.strike
  :text-decoration line-through

span.canceled
  :font-size 25px
  :color red
#guest-info, #host-info
  :display none
#summary
  li.summary-item, p
    :margin-bottom 5px
  ul
    :margin 20px 0 20px 20px

/* 
  Login

#container
  #login_area
    :margin 0 auto
    :padding-left 260px

    .info
      :float left
      :width 235px
      :margin 0 50px 0 0 
      :padding-left 5px
    .access
      :float left
      :width 260px
      form
        :margin-top 25px
        p
          :margin 5px 0
        p.enviar, p.rememberme
          :clear both
          :text-align right
          :float right
          input
            :width auto
      #remember_me
        :margin-left 10px
        :background transparent

/*
  Forms and links

label
  :width 70px
  :float left
  :clear both
  :margin 5px 0
input
  :background = !green
  :border none
  :color #fff
  :font-weight bold
  :float left
  :width 190px
  :margin 5px 0
    
p
  &.enviar
    input
      :width auto
      :padding 2px 5px
      :cursor pointer
    span
      a
        :display block 
        :padding-top 10px

span.button
  :background = !green
  :padding 2px 5px
  :font-size 12px
  :cursor pointer
  a
    :color #fff
    :text-decoration none
  &.violet
    :background = !violet
  &.pink
    :background = !pink
  &.dark_green
    :background = !dark_green

input
  &.white
    :background #fff
    :color #000

/*
  Header

#header
  .wrapper h1
    :float left
    :font-size x-small
    :margin 0
    :padding-top 0.2em
    a
      :background transparent url('/images/logo.jpg') no-repeat left top
      :display block
      :height 210px
      :width 261px
      :text-decoration none
      span
        :display none
  h2.claim
    :background url('/images/header-claim-agenda.jpg') no-repeat
    :float left 
    :height 210px
    :width 477px
    :margin 0 10px 0 0
    span
      :display none
    .version
      :margin-top 55px

      span
        :background = !dark_green
        :display inline
        :padding 3px 10px

#user-info
  :margin-top 170px
  :text-align right
  :width 230px
  :float left
  span

/*Identificadores*/

#content
  :min-height 465px
  .main_content
    :float left
    :overflow hidden
    :width 476px
    :margin-left 10px
    &.preferences
      :width 715px
    
#agenda_extenda
  .date
    :font-size 20px
    :margin 0 0 25px 30px
  ul
    :margin-left 30px
    li
      :list-style none
      :padding-bottom 5px
    
  .meetings-summary
    :margin-top 10px
  .plus-icon
    :display inline
    img
      :vertical-align middle

    
#left-column, #right-column
  :float left
  :width 229px

#left-column
  :margin-left 25px
  ul
    li
      :border-top = !green 2px solid 
      :border-left = !green 2px solid 
      :border-right = !green 2px solid 
      :border-bottom = !green 0.01px solid
      :height 77px
      :background-color #000
      :list-style none
      &.last
        :border-bottom= !green 2px solid 
      :padding 10px 20px
      a
        :color #fff
        :text-decoration none
        &:hover
          :color = !pink
          :text-decoration underline
      p
        :color = !green
        :margin-top 10px

#right-column
  :margin-left 10px  
  .box_dark_green
    :background = !dark_green  
    :min-height 423px
    :color #fff
    :padding 1px 0 5px 0
    .last_messages
      :margin 15px 35px 15px 15px
      :padding-bottom 15px
      :border-bottom 1px dotted #fff
      span 
        :font-style italic
      a
        :color #fff
        :text-decoration none
        &:hover
          :color = !pink
          :text-decoration underline 
      &.link
        :border-bottom none
        a
          :text-decoration underline
          &:hover
            :text-decoration none
      &.agenda
        :border-bottom none
        p.enviar
          :float right
        select#user_id
          :width 180px
#new-message
  :background = !green url("/images/content-display-bg.png") left top
  :padding 10px
  // :min-height 400px
  input, textarea
    :background #fff
    :color = #000
    :border none
    :width 350px
  span
    input
      :background = !green
      :color #fff
    &.info
      :margin-left 70px
    &.submit
      :width inherit
      :clear both
      :display block
      input
        :background = !pink
        :display block
        :width auto
        :cursor pointer
  #message_send_all
    :width auto
  .formError
    :margin-left 70px
  label 
    :font-weight bold
    :color #000
  #exhibitors, #buyers
    :float left
    :width 230px
    :margin 5px
  #send_all
    label 
      :width auto
      :margin-right 20px
  #receivers
    :clear both
    label
      :width 455px
      :clear both
    .formError
      :margin-left 0

#meetings
  label 
    :width 120px
  p.enviar
    :clear both
    :margin-top 20px
  .pink
    :clear both

#meeting
  h2
    :color = !violet
  p.enviar
    input
      :margin-bottom 20px
  
#meetings_confirm
  div
    :background = !grey
    :padding 15px
    :color #000
  h2
    :margin 0 0 40px 10px
  span.button
    :padding 2px 15px
    :font-weight bold
  p.pink
    :font-size 12px
    :margin-left 10px
#meeting_request
  :margin 20px 5px 20px 5px
  :padding-bottom 10px
  label
    :clear both
    :float none
  textarea
    :width 217px
  span.button
    :float right
    :margin-bottom 20px
    :color #fff
  p.enviar
    :float right
  p.info
    :color #000
    :clear both
    :font-size 12px
    &.small
      :font-style italic
      :font-size 10px
      
  p.input
    :padding 2px 5px
    :background #fff
    :color #000
    :font-size 12px

.my_meetings_footer
  :clear both
  :padding-top 10px
  :font-style italic
  p
    :margin-bottom 0
    &.imprimir
      :text-align right 
      :font-size 12px
      :margin 0
      a
        :color #fff
        &:hover
          :color = !pink
  
#preferences
  table
    :margin-bottom 30px
    &.tablesorter
      :width 715px

#profile
  h2,h3
    :font-size 13px
    :font-weight normal
  h2
    :margin 10px 0
    :text-align center
  h3 
    :margin 25px 0 25px
  p
    :margin-bottom 10px

#results
  :clear both
  :padding-left 5px
  a
    :color #fff
    &:hover
      :color = !green
  h3
    :color = !violet
    :margin-bottom 20px
  ul
    li
      :margin-bottom 5px

#schedules
  .date
    :font-size 20px
    :margin-bottom 20px
    :margin-left 53px
  .user
    :font-size 14px
    :margin-bottom 10px
    &.first
      :margin-left 55px
  .schedule
    :float left

#search
  label
    :width 145px
  :padding-left 5px
  input
    &#search_profile_company_name_like
      :width 280px
      :padding 2px 5px
      :margin-bottom 10px
  p.enviar
    input
      :margin-bottom 20px

#sectors
  table 
    :width 485px
    :margin-left 10px
    :margin-bottom 10px
    th
      :text-align left
      :color = !pink
      :font-size 14px

.users
  h2.mtop
    :margin-top 30px
  ul, table
    :margin-bottom 10px
  span.button
    :margin-right 10px


.users.new, .users.edit, #sectors.edit, #sectors.new, #preferences.edit
  :background = !green url("/images/content-display-bg.png")
  :padding 20px
  a
    :color = !pink
    &:hover
      :color #fff
  input
    :width 235px
    :background #fff
    :color #000
    &#user_role_id_1, &#user_role_id_2
      :margin 2px 10px 0 0
  label
    :width 160px
  fieldset
    :border none
    :margin-bottom 20px
    legend
      :font-size 16px
      :margin-bottom 30px
    &#new-user-conf
      label
        :width 200px
      input
        :width auto
      .info
        :font-style italic
        :color = #000
  p.enviar
    :clear both
    input
      :margin-right 10px
      :width auto
      :background = !pink
      :color #fff
  span
    &.info
      :width 275px
      :float right
  p
    :clear both
  .checkbox
    input
      :margin 0 5px 0 0 
      :width auto
  .formError
    :margin-left 160px
  &.extenda
    label
      :width 50px
    .formError
      :margin-left 50px

#external.new
  :background none
  input
    :float none
  p.enviar
    input
      :background = !pink

#preferences.edit
  label
    :width 200px
  input
    :width auto
  p.enviar

#sectors  
  &.edit, &.new
    label
      :width 70px
    .formError
      :margin-left 70px
/*
  Footer

#footer
  .wrapper
    :background-color #000000
    :height 58px
    :margin-top 25px
    p
      :margin 25px 0px 0px 0px
      :font normal normal 10px Verdana, Arial
      :color #ffffff
      :text-align center
      a
        :color = !green
/*
  Images

.last_messages_img
  :background transparent url("/images/last_messages.jpg") left top
  :border-bottom 5px #000 solid
  :width 230px
  :height 73px
  h3
    :display none
.oil_img
  :background transparent url("/images/oil.jpg") left top
  :height 263px
  :border = 2px !green solid

.meeting_request_img
  :background transparent url("/images/meetings_request.jpg") left top
  :border-bottom 5px #000 solid
  :width 230px
  :height 73px
  h2
    :display none


/* 
  Flash messages && Errors

#flash_notice,
#flash_error,
#flash_notice_login,
#flash_error_login
  :padding 5px 8px
  :margin 0 0 10px 0
  :color = !bg_color
  :font-weight bold


#flash_notice_login,
#flash_error_login
  :margin 10px 0 10px 550px
  :width 240px

#flash_notice,
#flash_notice_login
  :background-color #CFC
  :border solid 1px #6C6

#flash_error,
#flash_error_login
  :background-color #d66
  :border solid 1px #C00

.fieldWithErrors
  input, textarea
    :border solid 1px red

.formError
  :display block
  :color #e02727
  :clear both
  :font-weight bold
    
.none_margin > .formError
  :margin-left 0 !important
  :margin-bottom 10px

/*Changelog*/

#changelog
  h1
    :margin 1.5em 0
  h2
    :margin 1em 0
  ul
    :list-style-type none

    li
      :font-size 0.9em

    span
      :font-weight bolder
      :font-size 0.7em

      &.new
        :color #66AA00
      &.update
        :color #ff0078
      &.todo
        :color #627ffd
.cancel-form
  :display none
  label
    :width inherit
.new-external, .edit_meeting
  label, input
    :width inherit
    :float none
#loading
  :position absolute
  :top 5px
  :right 5px
  :background url("/images/loader-1.gif") no-repeat
  :width 45px
  :height 11px
  :display none

