!primary_color = #4B7399
body

  :background #191918 url('/images/body-bg.jpg') center top no-repeat
  :color #fff
  :font-family Arial, sans-serif
  :font-size 11px
  :font-variant normal
  :font-style normal
  :font-weight normal
  :line-height 1.5em

*
  :margin 0
  :padding 0

  html .clearfix
    :height 1%


.accesible
  :display none

a
  :color #666

  &:hover
    :color #666

  img
    :border none


.wrapper
  :width 961px
  :margin 0 auto
  :height 1%
  :position relative
  :overflow hidden

.separata
  :clear both


.clearfix
  :display inline-block

  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden

p.button
  :margin-top 15px
  :padding 5px
  :text-align right

#container
  #login
    :margin 0 auto
    :padding-left 229px

    .info
      :font-size 11px
      :float left
      :width 476px

    .access
      :float left
      :width 229px
  
#header
  .wrapper h1
    :float left
    :font-size x-small
    :margin 0
    :padding-top 0.2em
    a
      :background transparent url('/images/logo.jpg') no-repeat left top
      :display block
      :height 210px
      :width 229px
      :text-decoration none
      span
        :display none
  h2.claim
    :background url('/images/header-claim-es.jpg') no-repeat
    :float left 
    :height 210px
    :width 477px
    span
      :display none
#flash_notice,
#flash_error
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

.fieldWithErrors
  :display inline

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc

.big_field
  :font-size 2em

.login
  :width 300px
#user-info
  :float right
  :margin-right 10px
  :padding 5px
#breadcrumbs
  :float left
  :margin-left 5px
#content
  .main_content_extended
    :margin-left 229px
    :float left
    :overflow hidden
    :width 476px
  .main_content
    :float left
    :overflow hidden
    :width 476px
  #schedules
    :width 360px
    :margin 0 auto

    .date
      :text-align center
      :margin 20px
      :font-size 2em

    .schedule
      :float left

      .user
        :text-align center
        :margin 0px 0px 10px 0px
        :font-weight bolder

  #search
    :margin-left 30px
    div
      :margin 10px

#left-column, #right-column
  :float left
  :width 229px


#changelog
  ul
    :list-style-type none

    li
      :font-size 0.9em

    span
      :font-weight bolder
      :font-size 0.7em

      &.new
        :color #66AA00
      &.update
        :color #ff0078
      &.todo
        :color #627ffd

#footer


.highlight
  :background-color yellow

.required
  :color #ff0000

.strike
  :text-decoration line-through

span.info
  :font-size 0.7em

#new-message
  #exhibitors, #buyers
    :float left
    :width 230px
    :margin 5px

.unread td
  :background #FCC !important
.read td
  :background-color #CFC !important
.event
  :border 1px solid #FFF
  :margin-bottom 5px
  :padding 5px
