#left-column
  :margin-left 12px

#days
  :width 36px
#day
  :padding 16px 8px 1px 8px
  :width 36px

#placeholder
  :height 43px
  :padding 0 25px 0 25px

legend
  :margin-left -7px

span.pink
  :background transparent

p
  :margin-bottom 0

.access
  p, label, input
    :margin 0px !important

.access 
  form 
    p
      :height 30px
