#days
  :width 36px
#day
  :padding 16px 8px 1px 8px
  :width 36px

#week_event
  :font-size 9px
  &.item_13
    :height 3px!important
    :top 13px!important
  span
    :height 8px!important

#external.new
  input
    :background = #70B120
  label
    :width 110px

#left-column
  :margin-left 12px
#placeholder
  :height 43px
  :padding 0 25px 0 25px

#search
  p
    :height 30px
.access
  p, label, input
    :margin 0px !important

.access 
  form 
    p
      :height 30px

.users
  form
    p
      :margin-bottom 0
      &.info
        :margin-bottom 5px

.tablesorter
  th
    :color #fff

legend
  :margin-left -7px

span.pink
  :background transparent

p.info
  :margin-bottom 5px

