body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: -28px; }
  #header a {
    text-decoration: none;
    font-size: 3em;
    color: black;
    font-weight: bolder; }

#extended-container, #container {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 10px;
  border: solid 1px black;
  margin-top: 20px; }

#container {
  background: inherit;
  border: none; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

.big_field {
  font-size: 2em; }

.login {
  width: 300px; }

#user-info {
  float: right;
  margin-right: 10px;
  padding: 5px; }

#breadcrumbs {
  float: left;
  margin-left: 5px; }

#content {
  float: left;
  width: 495px;
  margin: 10px 0;
  padding: 5px; }
  #content #schedules {
    width: 360px;
    margin: 0 auto; }
    #content #schedules .date {
      text-align: center;
      margin: 20px;
      font-size: 2em; }
    #content #schedules .schedule {
      float: left; }
      #content #schedules .schedule .user {
        text-align: center;
        margin: 0px 0px 10px 0px;
        font-weight: bolder; }

#left-column, #right-column {
  float: left;
  width: 195px;
  margin: 10px 5px;
  padding: 10px; }

#left-column, #right-column, #content, #user-info {
  background: #FFF; }

#changelog ul {
  list-style-type: none; }
  #changelog ul li {
    font-size: 0.9em; }
  #changelog ul span {
    font-weight: bolder;
    font-size: 0.7em; }
    #changelog ul span.new {
      color: #66AA00; }
    #changelog ul span.update {
      color: #ff0078; }
    #changelog ul span.todo {
      color: #627ffd; }

#footer {
  text-align: center; }

.clear {
  clear: both; }
