.pink {
  color: #d41e67; }

.violet {
  color: #b81d88; }

.yellow {
  color: #f9f89e; }

body {
  background: #191918 url('/images/body-bg.jpg') center top no-repeat;
  color: #fff;
  font-family: Verdana, Arial;
  font-size: 11px;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em; }

* {
  margin: 0;
  padding: 0; }
  * html .clearfix {
    height: 1%; }

.accesible {
  display: none; }

a {
  color: #70b120; }
  a:hover {
    color: #d41e67; }
  a img {
    border: none; }

h2 {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: normal; }

h3 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: normal; }
  h3 span {
    display: block; }

p {
  margin: 0 0 1em 0; }
  p.green {
    color: #70b120; }

span.info {
  font-size: 0.9em; }

.wrapper {
  width: 1001px;
  margin: 0 auto;
  height: 1%;
  position: relative;
  overflow: hidden; }

.separata {
  clear: both; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.pagination {
  margin-bottom: 20px; }

p.button {
  margin-top: 15px;
  padding: 5px;
  text-align: right; }

/* Old css */
.event {
  border: 1px solid #FFF;
  margin-bottom: 5px;
  padding: 5px; }

span.canceled {
  font-size: 25px;
  color: red; }

.highlight {
  background-color: yellow; }

.required {
  color: #ff0000; }

.strike {
  text-decoration: line-through; }

span.canceled {
  font-size: 25px;
  color: red; }

#guest-info, #host-info {
  display: none; }

#summary li.summary-item, #summary p {
  margin-bottom: 5px; }
#summary ul {
  margin: 20px 0 20px 20px; }

/* Login */
#container #login_area {
  margin: 0 auto;
  padding-left: 260px; }
  #container #login_area .info {
    float: left;
    width: 235px;
    margin: 0 50px 0 0;
    padding-left: 5px; }
  #container #login_area .access {
    float: left;
    width: 260px; }
    #container #login_area .access form {
      margin-top: 25px; }
      #container #login_area .access form p {
        margin: 5px 0; }
      #container #login_area .access form p.enviar, #container #login_area .access form p.rememberme {
        clear: both;
        text-align: right;
        float: right; }
        #container #login_area .access form p.enviar input, #container #login_area .access form p.rememberme input {
          width: inherit; }
    #container #login_area .access #remember_me {
      margin-left: 10px; }

/* Forms and links */
label {
  width: 70px;
  float: left;
  clear: both;
  margin: 5px 0; }

input {
  background: #70b120;
  border: none;
  color: #fff;
  font-weight: bold;
  float: left;
  width: 190px;
  margin: 5px 0; }

p.enviar input {
  width: auto;
  padding: 2px 5px;
  cursor: pointer; }
p.enviar span a {
  display: block;
  padding-top: 10px; }

span.button {
  background: #70b120;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer; }
  span.button a {
    color: #fff;
    text-decoration: none; }
  span.button.violet {
    background: #b81d88; }
  span.button.pink {
    background: #d41e67; }
  span.button.dark_green {
    background: #4c800c; }

input.white {
  background: #fff;
  color: #000; }

/* Header */
#header .wrapper h1 {
  float: left;
  font-size: x-small;
  margin: 0;
  padding-top: 0.2em; }
  #header .wrapper h1 a {
    background: transparent url('/images/logo.jpg') no-repeat left top;
    display: block;
    height: 210px;
    width: 261px;
    text-decoration: none; }
    #header .wrapper h1 a span {
      display: none; }
#header h2.claim {
  background: url('/images/header-claim-agenda.jpg') no-repeat;
  float: left;
  height: 210px;
  width: 477px;
  margin: 0 10px 0 0; }
  #header h2.claim span {
    display: none; }
  #header h2.claim .version {
    margin-top: 55px; }
    #header h2.claim .version span {
      background: #4c800c;
      display: inline;
      padding: 3px 10px; }

#user-info {
  margin-top: 170px;
  text-align: right;
  width: 230px;
  float: left; }

/* Identificadores */
#content {
  min-height: 465px; }
  #content .main_content {
    float: left;
    overflow: hidden;
    width: 476px;
    margin-left: 10px; }
    #content .main_content.preferences {
      width: 715px; }

#agenda_extenda .date {
  font-size: 20px;
  margin: 0 0 25px 30px; }
#agenda_extenda ul {
  margin-left: 30px; }
  #agenda_extenda ul li {
    list-style: none;
    padding-bottom: 5px; }
#agenda_extenda .meetings-summary {
  margin-top: 10px; }
#agenda_extenda .plus-icon {
  display: inline; }
  #agenda_extenda .plus-icon img {
    vertical-align: middle; }

#left-column, #right-column {
  float: left;
  width: 229px; }

#left-column {
  margin-left: 25px; }
  #left-column ul li {
    border-top: #70b120 2px solid;
    border-left: #70b120 2px solid;
    border-right: #70b120 2px solid;
    border-bottom: #70b120 0.01px solid;
    height: 77px;
    background-color: #000;
    list-style: none;
    padding: 10px 20px; }
    #left-column ul li.last {
      border-bottom: #70b120 2px solid; }
    #left-column ul li a {
      color: #fff;
      text-decoration: none; }
      #left-column ul li a:hover {
        color: #d41e67;
        text-decoration: underline; }
    #left-column ul li p {
      color: #70b120;
      margin-top: 10px; }

#right-column {
  margin-left: 10px; }
  #right-column .box_dark_green {
    background: #4c800c;
    min-height: 423px;
    color: #fff;
    padding: 1px 0 5px 0; }
    #right-column .box_dark_green .last_messages {
      margin: 15px 35px 15px 15px;
      padding-bottom: 15px;
      border-bottom: 1px dotted #fff; }
      #right-column .box_dark_green .last_messages span {
        font-style: italic; }
      #right-column .box_dark_green .last_messages a {
        color: #fff;
        text-decoration: none; }
        #right-column .box_dark_green .last_messages a:hover {
          color: #d41e67;
          text-decoration: underline; }
      #right-column .box_dark_green .last_messages.link {
        border-bottom: none; }
        #right-column .box_dark_green .last_messages.link a {
          text-decoration: underline; }
          #right-column .box_dark_green .last_messages.link a:hover {
            text-decoration: none; }
      #right-column .box_dark_green .last_messages.agenda {
        border-bottom: none; }
        #right-column .box_dark_green .last_messages.agenda p.enviar {
          float: right; }
        #right-column .box_dark_green .last_messages.agenda select#user_id {
          width: 180px; }

#new-message {
  background: #70b120 url(/images/content-display-bg.png) left top;
  padding: 10px; }
  #new-message input, #new-message textarea {
    background: #fff;
    color: black;
    border: none;
    width: 350px; }
  #new-message span input {
    background: #70b120;
    color: #fff; }
  #new-message span.info {
    margin-left: 70px; }
  #new-message span.submit {
    width: inherit;
    clear: both;
    display: block; }
    #new-message span.submit input {
      background: #d41e67;
      display: block;
      width: auto;
      cursor: pointer; }
  #new-message .formError {
    margin-left: 70px; }
  #new-message label {
    font-weight: bold;
    color: #000; }
  #new-message #exhibitors, #new-message #buyers {
    float: left;
    width: 230px;
    margin: 5px; }
  #new-message #send_all label {
    width: auto;
    margin-right: 20px; }
  #new-message #receivers {
    clear: both; }
    #new-message #receivers label {
      width: 455px;
      clear: both; }
    #new-message #receivers .formError {
      margin-left: 0; }

#meetings label {
  width: 120px; }
#meetings p.enviar {
  clear: both;
  margin-top: 20px; }
#meetings .pink {
  clear: both; }

#meeting h2 {
  color: #b81d88; }
#meeting p.enviar input {
  margin-bottom: 20px; }

#meetings_confirm div {
  background: #c8c8c8;
  padding: 15px;
  color: #000; }
#meetings_confirm h2 {
  margin: 0 0 40px 10px; }
#meetings_confirm span.button {
  padding: 2px 15px;
  font-weight: bold; }
#meetings_confirm p.pink {
  font-size: 12px;
  margin-left: 10px; }

#meeting_request {
  margin: 20px 5px 20px 5px;
  padding-bottom: 10px; }
  #meeting_request label {
    clear: both;
    float: none; }
  #meeting_request textarea {
    width: 217px; }
  #meeting_request span.button {
    float: right;
    margin-bottom: 20px;
    color: #fff; }
  #meeting_request p.enviar {
    float: right; }
  #meeting_request p.info {
    color: #000;
    clear: both;
    font-size: 12px; }
    #meeting_request p.info.small {
      font-style: italic;
      font-size: 10px; }
  #meeting_request p.input {
    padding: 2px 5px;
    background: #fff;
    color: #000;
    font-size: 12px; }

.my_meetings_footer {
  clear: both;
  padding-top: 10px;
  font-style: italic; }
  .my_meetings_footer p {
    margin-bottom: 0; }
    .my_meetings_footer p.imprimir {
      text-align: right;
      font-size: 12px;
      margin: 0; }
      .my_meetings_footer p.imprimir a {
        color: #fff; }
        .my_meetings_footer p.imprimir a:hover {
          color: #d41e67; }

#preferences table {
  margin-bottom: 30px; }
  #preferences table.tablesorter {
    width: 715px; }

#profile h2, #profile h3 {
  font-size: 13px;
  font-weight: normal; }
#profile h2 {
  margin: 10px 0;
  text-align: center; }
#profile h3 {
  margin: 25px 0 25px; }
#profile p {
  margin-bottom: 10px; }

#results {
  clear: both;
  padding-left: 5px; }
  #results a {
    color: #fff; }
    #results a:hover {
      color: #70b120; }
  #results h3 {
    color: #b81d88;
    margin-bottom: 20px; }
  #results ul li {
    margin-bottom: 5px; }

#schedules .date {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 53px; }
#schedules .user {
  font-size: 14px;
  margin-bottom: 10px; }
  #schedules .user.first {
    margin-left: 55px; }
#schedules .schedule {
  float: left; }

#search {
  padding-left: 5px; }
  #search label {
    width: 145px; }
  #search input#search_profile_company_name_like {
    width: 280px;
    padding: 2px 5px;
    margin-bottom: 10px; }
  #search p.enviar input {
    margin-bottom: 20px; }

#sectors table {
  width: 485px;
  margin-left: 10px;
  margin-bottom: 10px; }
  #sectors table th {
    text-align: left;
    color: #d41e67;
    font-size: 14px; }

.users h2.mtop {
  margin-top: 30px; }
.users ul, .users table {
  margin-bottom: 10px; }
.users span.button {
  margin-right: 10px; }

.users.new, .users.edit, #sectors.edit, #sectors.new, #preferences.edit {
  background: #70b120 url(/images/content-display-bg.png);
  padding: 20px; }
  .users.new a, .users.edit a, #sectors.edit a, #sectors.new a, #preferences.edit a {
    color: #d41e67; }
    .users.new a:hover, .users.edit a:hover, #sectors.edit a:hover, #sectors.new a:hover, #preferences.edit a:hover {
      color: #fff; }
  .users.new input, .users.edit input, #sectors.edit input, #sectors.new input, #preferences.edit input {
    width: 235px;
    background: #fff;
    color: #000; }
    .users.new input#user_role_id_1, .users.new input#user_role_id_2, .users.edit input#user_role_id_1, .users.edit input#user_role_id_2, #sectors.edit input#user_role_id_1, #sectors.edit input#user_role_id_2, #sectors.new input#user_role_id_1, #sectors.new input#user_role_id_2, #preferences.edit input#user_role_id_1, #preferences.edit input#user_role_id_2 {
      margin: 2px 10px 0 0; }
  .users.new label, .users.edit label, #sectors.edit label, #sectors.new label, #preferences.edit label {
    width: 160px; }
  .users.new fieldset, .users.edit fieldset, #sectors.edit fieldset, #sectors.new fieldset, #preferences.edit fieldset {
    border: none;
    margin-bottom: 20px; }
    .users.new fieldset legend, .users.edit fieldset legend, #sectors.edit fieldset legend, #sectors.new fieldset legend, #preferences.edit fieldset legend {
      font-size: 16px;
      margin-bottom: 30px; }
    .users.new fieldset#new-user-conf label, .users.edit fieldset#new-user-conf label, #sectors.edit fieldset#new-user-conf label, #sectors.new fieldset#new-user-conf label, #preferences.edit fieldset#new-user-conf label {
      width: 200px; }
    .users.new fieldset#new-user-conf input, .users.edit fieldset#new-user-conf input, #sectors.edit fieldset#new-user-conf input, #sectors.new fieldset#new-user-conf input, #preferences.edit fieldset#new-user-conf input {
      width: auto; }
    .users.new fieldset#new-user-conf .info, .users.edit fieldset#new-user-conf .info, #sectors.edit fieldset#new-user-conf .info, #sectors.new fieldset#new-user-conf .info, #preferences.edit fieldset#new-user-conf .info {
      font-style: italic;
      color: black; }
  .users.new p.enviar, .users.edit p.enviar, #sectors.edit p.enviar, #sectors.new p.enviar, #preferences.edit p.enviar {
    clear: both; }
    .users.new p.enviar input, .users.edit p.enviar input, #sectors.edit p.enviar input, #sectors.new p.enviar input, #preferences.edit p.enviar input {
      margin-right: 10px;
      width: auto;
      background: #d41e67;
      color: #fff; }
  .users.new span.info, .users.edit span.info, #sectors.edit span.info, #sectors.new span.info, #preferences.edit span.info {
    width: 275px;
    float: right; }
  .users.new p, .users.edit p, #sectors.edit p, #sectors.new p, #preferences.edit p {
    clear: both; }
  .users.new .checkbox input, .users.edit .checkbox input, #sectors.edit .checkbox input, #sectors.new .checkbox input, #preferences.edit .checkbox input {
    margin: 0 5px 0 0; }
  .users.new .formError, .users.edit .formError, #sectors.edit .formError, #sectors.new .formError, #preferences.edit .formError {
    margin-left: 160px; }
  .users.new.extenda label, .users.edit.extenda label, #sectors.edit.extenda label, #sectors.new.extenda label, #preferences.edit.extenda label {
    width: 50px; }
  .users.new.extenda .formError, .users.edit.extenda .formError, #sectors.edit.extenda .formError, #sectors.new.extenda .formError, #preferences.edit.extenda .formError {
    margin-left: 50px; }

#preferences.edit label {
  width: 200px; }
#preferences.edit input {
  width: auto; }

#sectors.edit label, #sectors.new label {
  width: 70px; }
#sectors.edit .formError, #sectors.new .formError {
  margin-left: 70px; }

/* Footer */
#footer .wrapper {
  background-color: #000000;
  height: 58px;
  margin-top: 25px; }
  #footer .wrapper p {
    margin: 25px 0px 0px 0px;
    font: normal normal 10px Verdana, Arial;
    color: #ffffff;
    text-align: center; }
    #footer .wrapper p a {
      color: #70b120; }

/* Images */
.last_messages_img {
  background: transparent url("/images/last_messages.jpg") left top;
  border-bottom: 5px #000 solid;
  width: 230px;
  height: 73px; }
  .last_messages_img h3 {
    display: none; }

.oil_img {
  background: transparent url("/images/oil.jpg") left top;
  height: 263px;
  border: 2px #70b120 solid; }

.meeting_request_img {
  background: transparent url("/images/meetings_request.jpg") left top;
  border-bottom: 5px #000 solid;
  width: 230px;
  height: 73px; }
  .meeting_request_img h2 {
    display: none; }

/* Flash messages && Errors */
#flash_notice,
#flash_error,
#flash_notice_login,
#flash_error_login {
  padding: 5px 8px;
  margin: 0 0 10px 0;
  color: #191918;
  font-weight: bold; }

#flash_notice_login,
#flash_error_login {
  margin: 10px 0 10px 550px;
  width: 240px; }

#flash_notice,
#flash_notice_login {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error,
#flash_error_login {
  background-color: #d66;
  border: solid 1px #C00; }

.fieldWithErrors input, .fieldWithErrors textarea {
  border: solid 1px red; }

.formError {
  display: block;
  color: #e02727;
  clear: both;
  font-weight: bold; }

.none_margin > .formError {
  margin-left: 0 !important;
  margin-bottom: 10px; }

/* Changelog */
#changelog h1 {
  margin: 1.5em 0; }
#changelog h2 {
  margin: 1em 0; }
#changelog ul {
  list-style-type: none; }
  #changelog ul li {
    font-size: 0.9em; }
  #changelog ul span {
    font-weight: bolder;
    font-size: 0.7em; }
    #changelog ul span.new {
      color: #66AA00; }
    #changelog ul span.update {
      color: #ff0078; }
    #changelog ul span.todo {
      color: #627ffd; }

.cancel-form {
  display: none; }
  .cancel-form label {
    width: inherit; }

#loading {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url("/images/loader-1.gif") no-repeat;
  width: 45px;
  height: 11px;
  display: none; }
