%h2 API
%ul
  %li
    Listado de expositores
    %ul
      %li= link_to "www.agendabiocordoba.com/api/exhibitors.xml", "http://agendabiocordoba.com/api/exhibitors.xml"
      %li
        Parámetros opcionales:
        %ul
          %li sector: Identificador único del sector
          %li name: String con el nombre del expositor

  %br/
  %li
    Información de un expositor
    %ul
      %li= link_to "www.agendabiocordoba.com/api/exhibitor/[id del expositor].xml?lang=en|es", "http://agendabiocordoba.com/api/exhibitor/poner_la_id].xml"
      %li 
        Parámetro <b>obligatorio</b>
        %ul
          %li id: identificador único del expositor
        Parámetro <b>opcional</b>
        %ul
          %li lang: Identificador de idioma ('es'|'en'), si no se indica se utilizará 'es'.

  %br/
  %li 
    Listado de sectores
    %ul
      %li= link_to "www.agendabiocordoba.com/api/sectors.xml", "http://agendabiocordoba.com/api/sectors.xml"

