#assistances
  %h2 Cree o modifique la asistencia de este usuario a la feria
  = render :partial => "assistance_table", :locals => {:assistances => @assistances}
%p
  o
  = link_to "Volver", users_path
