%h2 Cree o modifique los intervalos de asistencia a la feria de este usuario 
#assistances
  = render :partial => "assistance_table", :locals => {:assistances => @assistances}
o
= link_to "Volver", "/"
