- title 'Listado de sectores'

#sectors
  %h2 Listado de sectores

  %table
    %tr
      %th Nombre del sector
      %th Sector name
    - @sectors.each do |sector|
      %tr
        %td=h sector.name 
        %td=h sector.english_name 
        %td= link_to 'Editar', edit_sector_path(sector) 

  %p
    %span.button.violet= link_to 'Crear nuevo sector', new_sector_path 
    o
    = link_to 'Volver', users_path
