%fieldset{:id => 'new-user-profile'}
  %legend Información personal
  - @user.build_profile unless @user.profile
  - f.fields_for(:profile) do |profile|
    = render :partial => 'profile', :locals => {:f => profile}

%fieldset{:id => 'new-user-conf'}
  %legend Configuraciones del usuario
  - @user.build_preference unless @user.preference
  - f.fields_for(:preference) do |pref|
    = label_tag "Utiliza la configuración por defecto"
    = check_box_tag 'default_preferences', 1, hide_preferences, {:class => "checkbox", :onclick => "$('#preferences').toggle();"} 
    %p.info
      El número máximo de citas por día, duración y horarios están configurados por defecto según las condiciones generales de cada tipo de usuario.
    %p.info
      Si desea personalizar estos datos, deseleccione la casilla "Utilice configuración por defecto
    
    #preferences{:style => hide_preferences ? 'display:none' : ""}
      = render :partial => 'preferences/form', :locals => {:f => pref}
