- title "Edición de usuario"
- form_for @user, :url => user_path(@user), :html => {:method => :put} do |f|
  = render :partial => 'form', :locals => {:f => f}
  = f.submit "Guardar"
%p
  = link_to "Volver", :back
