- if yield(:right_column).nil?
  - cache "#{@current_user.login}-timeline" do
    Últimos eventos 
    %hr/
    - for event in current_user.timeline_events 
      .event= print_event(event)
- else
  = yield(:right_column)
