#right-column
  - if logged_in?
    - if yield(:right_column).nil?
      Últimos eventos 
      %hr/
      - for event in current_user.timeline_events 
        %span.info= print_event(event)
        %hr/
    - else
      = yield(:right_column)
