development: &development
    
  :admin:
    :login: admin
    :password: eventos86
    :email: beecoder@example.com
  :default_roles:
    - admin
    - extenda
    - buyer
    - exhibitor
    - national
    - international
        
test:
    <<: *development
    
production:
    <<: *development
