development: &development
    
  :admin:
    :login: admin
    :password: eventos86
    :email: beecoder@example.com
    :preferences:
      :meetings_number: 4
      :meetings_duration: 15
      :event_start_day: "2009-09-22"
      :event_end_day: "2009-09-24"
      :event_day_start_at: "10:00"
      :event_day_end_at: "19:00"
  :roles:
    - admin
    - extenda
    - buyer_national
    - buyer_international
    - exhibitor
  :sectors:
    - aceites
    - aderezos y aceitunas
    - alimentos congelados
    - alimentos preparados
    - bebidas no alcólicas, bebidas calientes, otras...
    - conservas, mermeladas, mieles
    - frutas, hortalizas y frutos secos
    - industrias auxiliares, restauración catering y o...
    - institucionales y otros organismos
    - otros productos agroalimentarios
    - pan, repostería, bollería, postres y dulces
    - pescado y marisco
    - productos cárnicos
    - productos ecológicos
    - productos lácteos
    - vinos, vinagres y licores

        
test:
    <<: *development
    
production:
    <<: *development
