development: &development
    
  :admin:
    :login: admin
    :password: eventos86
    :email: beecoder@example.com
  :roles:
    - admin
    - extenda
    - buyer
    - exhibitor
  :location:
    1: national
    2: international
  :sectors:
    - aceites
    - aderezos y aceitunas
    - alimentos congelados
    - alimentos preparados
    - bebidas no alcólicas, bebidas calientes, otras...
    - conservas, mermeladas, mieles
    - frutas, hortalizas y frutos secos
    - industrias auxiliares, restauración catering y o...
    - institucionales y otros organismos
    - otros productos agroalimentarios
    - pan, repostería, bollería, postres y dulces
    - pescado y marisco
    - productos cárnicos
    - productos ecológicos
    - productos lácteos
    - vinos, vinagres y licores
        
test:
    <<: *development
    
production:
    <<: *development
