- title "Configuraciones"

#preferences
  %h2 Configuración general del sistema
  = render :partial => 'index_table', :locals => {:preferences => [@preferences[0]], :orderable => false}
  - if @preferences.length > 0
    %h2 Configuración de los usuarios
    = render :partial => 'index_table', :locals => {:preferences => @preferences[1..-1], :orderable => true}
  %p
    = link_to "Volver", "/"
