- title "Nueva configuración
 
- form_for :preference, :url => preferences_path do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p.enviar= f.submit "Guardar"

= link_to "Volver", preferences_path
