- title "Editar configuración"

- form_for :preference, :url => admin_preference_path(@preference), :html => {:method => :put} do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p= f.submit "Guardar"

