- title "Preferences"

%table#orderable.tablesorter{:cellspacing => "1", :cellpadding => "0", :border => "0"}
  %thead
    %tr
      %th.header M치ximo reuniones
      %th.header Duraci칩n de la reuni칩n
      %th.header Fecha inicio del evento
      %th.header Fecha final del evento
      %th.header Hora inicio del evento
      %th.header Hora final del evento
  %tbody 
    - for preference in @preferences
      %tr
        %td=h preference.meetings_number 
        %td=h preference.meetings_duration 
        %td=h preference.event_start_day 
        %td=h preference.event_end_day 
        %td=h preference.event_day_start_at.strftime("%H:%M")
        %td=h preference.event_day_end_at.strftime("%H:%M")
        %td= link_to "Editar", edit_admin_preference_path(preference)

%p
  = link_to "Nueva configuraci칩n", new_admin_preference_path
