- title "Nueva preferencia"

- form_for :preference, :url => admin_preferences_path do |f|
  = render :partial => 'form', :locals => {:f => f}

%p= link_to "Volver al listado", admin_preferences_path
