- title "Administrar usuarios"
%h1= "Usuarios"
%h2= "Selecciona un tipo de usuario"
%ul
  - for role in Role.all
    %li
      = link_to role.title, type_users_path(role.title)

%p
  = link_to "Registra un nuevo usuario", signup_path
