- if @controller.controller_name == "main" && @controller.action_name == "home"
  - cache "#{@current_user.login}-timeline" do
    .last_messages_img
      %h3 Últimos Mensajes
    .box_dark_green
      - for event in current_user.timeline_events 
        .last_messages
          = print_event(event)
      - if current_user.timeline_events.nil?
        .last_messages.link
          = link_to "ver todos los mensajes", messages_path()

= yield(:right_column)
