!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Biocórdoba - Agenda Virtual
    %base{ :href => "http://agendabiocordoba.com" }
  - colspan = 4
  %body{ :style => "font: 14px Verdana, Arial; *font-size:small; *font:x-small;" }
    %table{ :border => "0", :width => "600px" }
      %tr
        %td{ :colspan => colspan }
          %table{ :align => "center" }
            %tr
              %td
                %a{ :href => "http://agendabiocordoba.com", :title => "Ir a Agenda Virtual", :style => "text-decoration:none;" }
                  %img{ :src => "/images/cabecera_mailing.jpg", :alt => "Biocórdoba- Agenda Virtual", :width => "600", :style => "border: none;" }

      %tr
        %td &nbsp;

      = yield
      
      %tr
        %td &nbsp;
      %tr
        %td{:style => "background: #000; height: 58px;text-align: center;font-size:12px; color: #fff;"}
          Todos los derechos reservados © 2010 Biocórdoba. Organic food trade show 
